USE [master]
GO
/****** Object:  Database [proyecto_ingenieria]    Script Date: 19/5/2026 18:34:42 ******/
CREATE DATABASE [proyecto_ingenieria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyecto_ingenieria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\proyecto_ingenieria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyecto_ingenieria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\proyecto_ingenieria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_ingenieria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [proyecto_ingenieria] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO
USE [proyecto_ingenieria]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 19/5/2026 18:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 19/5/2026 18:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 19/5/2026 18:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/5/2026 18:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[Contraseña] [nvarchar](200) NOT NULL,
	[PerfilId] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[PrimerLogin] [bit] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaHora], [Modulo], [Accion], [Criticidad], [Descripcion]) VALUES (1, 1, CAST(N'2026-05-19T10:54:37.350' AS DateTime), N'Usuarios', N'Login', 1, N'Usuario inició sesión')
INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaHora], [Modulo], [Accion], [Criticidad], [Descripcion]) VALUES (2, 1, CAST(N'2026-05-19T10:54:54.357' AS DateTime), N'Usuarios', N'Cambio Contraseña', 2, N'El usuario cambió su contraseña')
INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaHora], [Modulo], [Accion], [Criticidad], [Descripcion]) VALUES (3, 1, CAST(N'2026-05-19T10:55:01.897' AS DateTime), N'Usuarios', N'Login', 1, N'Usuario inició sesión')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Idiomas] ([Id], [Nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idiomas] ([Id], [Nombre]) VALUES (2, N'Inglés')
GO
INSERT [dbo].[Perfiles] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Administrador', N'Acceso total al sistema')
INSERT [dbo].[Perfiles] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Basico', N'Acceso estandar para usuarios')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Apellido], [DNI], [Contraseña], [PerfilId], [Email], [Activo], [IntentosFallidos], [PrimerLogin], [Nombre]) VALUES (1, N'Sistema', N'1234', N'f5517ce0685d53dacb4857d15b356aa6c0bbe23017eaca1ede9bb7bc71567f63', 1, NULL, 1, 0, 0, N'Admin')
INSERT [dbo].[Usuarios] ([Id], [Apellido], [DNI], [Contraseña], [PerfilId], [Email], [Activo], [IntentosFallidos], [PrimerLogin], [Nombre]) VALUES (2, N'dargenzio', N'42076585', N'ff3e1481ce7018d099894887b2c026589a4a921ce85982f1e46c4d0586656de5', 1, N'magali@gmail.com', 1, 0, 0, N'magali')
INSERT [dbo].[Usuarios] ([Id], [Apellido], [DNI], [Contraseña], [PerfilId], [Email], [Activo], [IntentosFallidos], [PrimerLogin], [Nombre]) VALUES (3, N'Diaz', N'12345678', N'8ac2596dff8b9d561fc378a424bb14e0eb97c2608eb2d12ca20559110f214f1a', 2, N'diaz@gmail.com', 1, 0, 0, N'Diego')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DNI]    Script Date: 19/5/2026 18:34:42 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [PrimerLogin]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
USE [master]
GO
